
@{
    ViewBag.Title = "LienHe";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div>
    <div class="container" style="margin: 50px auto;height:500px">
        <div class="text">
            <h2>Liên hệ</h2>
        </div>
    </div>
</div>