@using ShopCar.Model;
@model LoaiSP

@using (Html.BeginForm("LayTuKhoaTimKiem", "TimKiem", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    <div class="hover_category">

        @Html.DropDownList("MaLoaiSP", (IEnumerable<SelectListItem>)ViewBag.lstLoaiSP, new { @class = "select_option" })
        
    </div>
    <div class="search_box">
        <input type="text" name="sTuKhoa" placeholder="Nhập tên sản phẩm" />
        <button type="submit">Tìm kiếm</button>
    </div>
}

