
@{
    ViewBag.Title = "VeChungToi";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<div>
    <div class="container" style="margin: 50px auto;height:500px">
        <div class="text">
            <h2>Về chúng tôi</h2>
        </div>
    </div>
</div>
