
@{
    ViewBag.Title = "ThongBaoHetSP";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div style="height:500px">
    <h2>
        Số lượng sản phẩm trong kho không đủ vui lòng chỉnh sửa lại @Html.ActionLink("Giỏ hàng", "XemGioHang", "GioHang").
        <br />Bạn có muốn đặt  @Html.ActionLink("Sản phẩm", "DanhSachSanPham", "SanPham") mới không?
    </h2>
</div>

